.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: #f8f9fa;
}

.modal.active {
  display: flex;
}

.modalContent {
  border-radius: 10px;
}
