@font-face {
  font-family: 'Noto-Sans';
  src: url('./NotoSans/static/NotoSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Noto-Sans';
  src: url('./NotoSans/static/NotoSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Releway';
  src: url('./NotoSans/static/NotoSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Noto-Sans';
  src: url('./NotoSans/static/NotoSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Noto-Sans';
  src: url('./NotoSans/static/NotoSans-Bold.ttf');
  font-weight: 700;
}
