@import url('../public/font/font.scss');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background: #f8f9fa;
}

.layout {
  height: 100%;
  font-family: 'Releway';
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}

.container-max {
  @apply mx-auto;
  max-width: 90%;
}

@media (min-width: 1280px) {
  .container-max {
    @apply max-w-7xl;
  }

  .main-container {
    @apply px-16;
  }
}

.iconSize {
  @apply w-5 h-5;
}

.inputText::placeholder {
  @apply text-base;
}

.inputStyle {
  @apply py-[5px] px-2.5 mb-1.5 text-textBlack bg-containerWhite h-full w-full rounded-mdPlus inputText;
}

.errorStyle {
  @apply absolute left-1.5 top-[40px] leading-5 text-textWhite;
}

.borderStyle {
  @apply border-solid border border-borderBlack;
}

.titleForm {
  @apply text-xl mb-0.5 font-semibold;
}
