@import url('../public/font/font.scss');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background: #f8f9fa;
}

.layout {
  height: 100%;
  font-family: 'Noto-Sans';
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}

.container-max {
  @apply mx-auto;
  width: 90%;
}

@media (min-width: 1280px) {
  .container-max {
    @apply max-w-7xl;
  }

  .main-container {
    @apply px-16;
  }
}

.custom-error {
  @apply text-textRed;
}

// ff4d42

.titleForm {
  @apply text-xl mb-0.5 font-semibold;
}

.custom-input,
.custom-select {
  @apply font-light text-base;
}

.custom-select .ant-select-selector:hover {
  @apply border-borderRed !important;
}

.custom-select .ant-select-selector:focus-within {
  @apply border-borderRed shadow-custom !important;
}

.custom-select .ant-select-item-option,
.ant-select-item:hover,
.ant-select-item-option-selected {
  @apply bg-buttonRed text-textWhite !important;
}

.custom-input:focus-within {
  @apply border-borderRed shadow-custom;
}

.custom-input:hover {
  @apply border-borderRed;
}

.custom-input-cover:hover {
  @apply border-borderRed transition-all duration-300 ease-in;
}

.custom-input-cover {
  @apply transition-all duration-300 ease-in;
}

.custom-button-red {
  @apply border-transparent text-lg bg-buttonRed text-textWhite h-[32px];
}

.custom-button-red:hover {
  @apply bg-buttonWhite text-textBlack border-borderRed !important;
}

.custom-button-white {
  @apply bg-buttonWhite text-textBlack !important;
}

.custom-button-white:hover {
  @apply bg-buttonRed text-textWhite border-transparent !important;
}

.link-style {
  @apply block;
}

.cardHover {
  @apply transition-all duration-200 ease-in-out;
}

.cardHover:hover {
  @apply shadow-hoverCard transition-all duration-200 ease-linear;
}
